###
### NAMESPACE
###

## Imported methods
import(methods)
importFrom("stats", "median", "predict")
importFrom("graphics", "par", "legend", "text")
importFrom("survival", "coxph", "Surv", "survfit")
importFrom("pls", "plsr")
importFrom("Polychrome", "memberPlot")

## MultiOmics class
exportClass("MultiOmics")
exportMethods("summary", "plot")

export("prepareMultiOmics")


