###
### NAMESPACE
###

## Imported methods
import(methods)
importFrom("stats", "median", "predict", "formula", "step", "na.omit")
importFrom("graphics", "par", "legend", "text")
importFrom("survival", "coxph", "Surv", "survfit")
importFrom("pls", "plsr")
importFrom("plsRcox", "plsRcoxmodel")
importFrom("Polychrome", "memberPlot")

## temporary
importFrom("utils", "packageVersion") # for v.1.5.0 of Polychrome

## MultiOmics class
exportClass("MultiOmics")
export("prepareMultiOmics")

## SingleModel class
exportClass("SingleModel")
export("fitSingleModel")

## MuliplePLSCoxModels class
exportClass("MultiplePLSCoxModels")
export("fitCoxModels", "getSizes")

## plasma class
exportClass("plasma")
export("fitCoxModels", "plasma")

## methods
exportMethods("summary", "plot", "predict")
