###
### NAMESPACE
###

## Imported methods
import(methods)
importFrom("stats", "var", "dist", "IQR", "median")
importFrom("DRquality", "SpearmansRho")
importFrom("emdist", "emd")
importFrom("FNN", "get.knn")
